:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.hero-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.book-image {
  height: 210px;
  object-fit: contain;
}

.book-title {
  font-size: 22px;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 56px;
}

.author {
  color: #d2691e;
  font-size: 14px;
}

.book-card {
  transition: 0.3s;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.discount-ribbon {
  position: absolute;
  top: 10px;
  left: 0;
  background: #e36c0a;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.1;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.discount-ribbon strong {
  display: block;
}

.card-footer a {
  color: #e36c0a !important;
}

.card-footer a:hover {
  text-decoration: underline !important;
}

.price-slider {
  position: relative;
  height: 30px;
}

.price-slider input {
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 3;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
}

.price-slider-range {
  position: absolute;
  height: 6px;
  top: 12px;
  background: #ffc107;
  border-radius: 5px;
  z-index: 2;
}

.price-slider input::-webkit-slider-runnable-track {
  background: transparent;
}

.price-slider-track {
  position: absolute;
  left: 0;
  right: 0;
  top: 12px;
  height: 6px;
  background: #ddd;
  border-radius: 5px;
  z-index: 1;
}

.price-slider input::-webkit-slider-thumb {
  pointer-events: auto;
}